body {
    background-color:#fffdd0; 
    font-family: "Roboto Slab", serif;
}
h1 {
    text-align: center;
    color: white; 
    background-color: green;
}
h6 {
    font-family: "Science Gothic", sans-serif;   
}
h2 {
    font-family: "Roboto Slab", serif;  
}
h5 {
    font-family: "Roboto Slab", serif;   
}